# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage

# Jupyter Notebooks
.ipynb_checkpoints

# Obsidian
.obsidian/

# Outputs folder
Outputs/

# Notes folder
Notes/